@import "tailwindcss";
.h-box i {
    color: black;
}

.content-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cloudinary.hbs.edu/hbsit/image/upload/s--jPzS_T-I--/f_auto,c_fill,h_375,w_750,/v20200101/0C981EC15D5C9433260B4F32782C31DD.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://uknowva.com/images/people-meeting-seminar-office-concept.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-opp {
    background: linear-gradient(rgba(52, 136, 161, 0.5), rgba(112, 112, 112, 0.5)), url('https://img.freepik.com/free-vector/gradient-purple-green-background_23-2150284432.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-sec-3 .heading {
    font-family: "Ovo";
}

.boxes-heading {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
}